/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/

.ex-1-square:hover{
  background-color: rgb(234, 255, 0);

}

.ex-1-square{
  transition:  background-color 2s;
}

.ex-2-square:active {
width: 100%;
transition: 7s;
}

.ex-3-square {
  transition: 1s;
}

.ex-3-square:hover {
border-radius: 100%;
}
/* per farlo tornare piano, si fa un'altra classe senza hover o active */

.ex-4-square {
  transition: 2s;
}
.ex-4-square:hover{
opacity: 0%;
}

.ex-5-square {
  transition: 1s;
}

.ex-5-square:hover {
  width: 200px;
  height: 200px;
}

.ex-5-square:active {
  width: 20px;
  height: 20px;
}

.ex-6-img:hover {
  filter: grayscale(1);
}

.ex-7-img {
  transition: 3s;
}

.ex-7-img:hover {
  filter: grayscale(1);
}

.ex-8-img {
  transition: 3s;
}

.ex-8-img:hover {
  filter: grayscale(1);
  border-radius: 30px;
}

.ex-9-img {
  transition: 1s;
}

.ex-9-img:hover {
  filter: grayscale(1);
  border-radius: 30px;
  transform: scale(1.5);}


  .ex-10-icon {
    animation: spin 1s linear infinite;
}

@keyframes spin { 
  0% {
  transform: rotate(1turn);
    }
}

.ex-11-icon:hover{
  animation: spin-Right 2s linear infinite;
}

@keyframes spin-Right {
  0% { transform: rotate(0deg); }
  90% { transform: rotate(260deg); }
  100% { transform: rotate(0deg);}
}


.ex-12-icon:hover{
  animation: spin-Right 2s linear infinite;
}

@keyframes spin-Right {
  0% { transform: rotate(0deg); }
  90% { transform: rotate(260deg); }
  100% { transform: rotate(0deg);}
}

.ex-12-button:hover .ex-12-top-white {
  animation: moveTopWhite 2s linear;
}
@keyframes moveTopWhite {
  0% {
      left: 10%;
  }
  50% {
      left: calc(100% - 60px);
  }
  100% {
      left: 10%;
  }
}
.ex-12-button:hover .ex-12-bottom-white {
  animation: moveBottomWhite 2s linear;
}
@keyframes moveBottomWhite {
  0% {
      right: 20%;
  }
  50% {
      right: calc(100% - 60px);
  }
  100% {
      right: 20%;
  }
}

.ex-13-button:hover .ex-13-top-white {
  animation: moveTopWhiteCompletely 2s linear;
}
@keyframes moveTopWhiteCompletely {
  0% {
      left: 10%;
      top: -10px;
  }
  30% {
      left: calc(100% - 30px);
      top: -10px;
  }
  45% {
      left: calc(100% - 30px);
      top: 100%;
  }
  75% {
      left: 0;
      top: 100%;
  }
  90% {
      left: -15px;
      top: -10px;
  }
  100% {
      left: 10%;
      top: -10px;
  }
}
.ex-13-button:hover .ex-13-bottom-white {
  animation: moveBottomWhiteCompletely 2s linear;
}
@keyframes moveBottomWhiteCompletely {
  0% {
      bottom: -10px;
      right: 20%;
  }
  30% {
      right: calc(100% - 30px);
      bottom: -10px;
  }
  45% {
      right: calc(100% - 30px);
      bottom: 100%;
  }
  75% {
      right: 0;
      bottom: 100%;
  }
  90% {
      right: -15px;
      bottom: -10px;
  }
  100% {
      bottom: -10px;
      right: 20%;
  }
}






